@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--white-color);
    font-size: 1.6rem;
    line-height: 1.34;
    direction: ltr;
    color: #1c1e21;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

img {
    user-select: none;
}
