:root {
    --primary-color: #1876f2;
    --primary-text: #050505;
    --secondary-text: #65676b;
    --hover-color: rgba(68, 73, 80, 0.15);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --blue-link: #216fdb;
    --hover-overlay: rgba(0, 0, 0, 0.08);
    --always-white: #ffffff;
    --notification-badge: #e41e3f;
    --bg-main: #fff;
    --bg-second: #f0f2f5;
    --icon-color: #606770;
    --positive: #31a24c;
    --positive-background: #deefe1;

    --shadow-1: rgba(0, 0, 0, 0.1);

    --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
    --fds-duration-extra-extra-short-out: 100ms;

    --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%)
        contrast(86%);
    --filter-secondary-icon2: invert(70%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(98%)
        contrast(86%);
}

$header-height: 56px;

$tablet-width: 1260px;
$tablet-small-width: 1098px;
$mobile-width: 900px;
$mobile-small-width: 700px;
