.button-square {
    display: block;
    background-color: var(--bg-main);
    cursor: pointer;

    &.small {
        padding: 4px 6px;
        border-radius: 4px;
    }

    &.large {
        width: 100%;
        padding: 8px;
        border-radius: 8px;
    }

    &:hover {
        background-color: var(--hover-overlay);
    }
}
