.header {
    --search-height: 40px;
    --search-border-radius: 92px;

    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--bg-main);
    z-index: 99;

    &__inner {
        width: inherit;
        height: inherit;
        padding: 0 1.6rem;
        @include flex(center, space-between);

        &__logo {
            user-select: none;
            display: block;
            @include flex(center, center);
            z-index: 999;

            &__mb {
                display: none;
            }

            @include mobile {
                &__pc {
                    display: none;
                }

                &__mb {
                    display: block;
                    margin-right: 0.8rem;
                }
            }
        }

        &__actions {
            z-index: 999;
            display: flex;

            & > * ~ * {
                margin-left: 0.8rem;
            }
        }
    }
}
