.search {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    @include flex(center, center);
    z-index: 99;

    &__label {
        position: relative;
        display: flex;
        border: 1.5px solid transparent;

        & span {
            position: absolute;
            width: 5rem;
            height: 100%;
            @include flex(center, center);
            color: var(--secondary-text);
        }

        & > input {
            border-radius: 99999px;
            width: 500px;
            height: 4rem;
            background-color: var(--bg-second);
            color: var(--primary-text);
            font-size: 1.5rem;
            line-height: 1.5;
            padding: 8px 8px 8px 40px;
        }

        & > input:hover {
            background-color: var(--hover-overlay);
        }

        & > input:focus:hover {
            background-color: var(--bg-second);
        }

        & > input::placeholder {
            font-size: 1.5rem;
        }
    }

    &__result {
        width: 500px;

        &__header {
            @include flex(center, space-between);
            padding: 0rem 0rem 0.2rem 1rem;

            &__title {
                font-weight: 600;
                color: var(--primary-text);
                font-size: 1.6rem;
            }

            &__update-btn > span {
                color: var(--blue-link);
                font-weight: 400;
                font-size: 1.4rem;
            }
        }

        &__body {
            &__item {
                position: relative;
                width: 100%;
                @include flex(center, flex-start);
                padding-right: 4rem;
                &__img,
                &__icon {
                    width: 3.6rem;
                    height: 3.6rem;
                    border-radius: 50%;
                }

                &__img {
                    object-fit: cover;
                }

                &__icon {
                    @include flex(center, center);
                    background-color: var(--bg-second);
                    font-size: 2rem;
                    color: var(--secondary-text);
                }

                &__info {
                    margin-left: 1.4rem;
                    flex: 1;
                    &__title {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        color: var(--primary-text);
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        overflow: hidden;
                    }
                    &__more {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        color: var(--secondary-text);
                    }
                }

                &__close {
                    position: absolute;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    @include flex(center, center);
                    top: 50%;
                    transform: translateY(-50%);
                    right: 1rem;
                    color: var(--secondary-text);

                    &:hover {
                        background-color: var(--hover-overlay);
                        filter: brightness(96%);
                    }
                }
            }

            &__loading {
                padding: 1rem 0;
                width: 100%;
                @include flex(center, center);
                color: var(--secondary-text);
                font-size: 3rem;
            }
        }
    }
}
