.search {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    @include flex(center, center);
    z-index: 99;

    @include mobile {
        display: none;
    }

    &__result {
        width: 500px;

        &__header {
            @include flex(center, space-between);
            padding: 0rem 0rem 0.2rem 1rem;

            &__title {
                font-weight: 600;
                color: var(--primary-text);
                font-size: 1.6rem;
            }

            &__update-btn span {
                color: var(--blue-link);
                font-weight: 400;
                font-size: 1.4rem;
            }
        }

        &__body {
            &__loading {
                padding: 1rem 0;
                width: 100%;
                @include flex(center, center);
                color: var(--secondary-text);
                font-size: 3rem;
            }
        }
    }
}
